---
layout: default
---

<div class="category-posts">
  <h2>Latest 5 Posts</h1>
    <ul>
      {% for post in site.posts limit:5 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><span class="cat-tag__date">{{post.date | date_to_string}}</span></li>
      {% endfor %}
    </ul>
</div>
<hr>
<div class="category-posts">
  <h2>Categories</h1>
  {% for category in site.categories %}
    <h3 id="{{ category[0] }}">{{ category[0] }}</h3>
    <ul>
      {% for post in category[1] %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><span class="cat-tag__date">{{post.date | date_to_string}}</span></li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>